<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Web App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 70px;
        }

        #content {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Face Recognition</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/capture_image">Capture Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show_images">Show Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attendance_sheet">Attendance Sheet</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <!-- Content from JavaScript will be loaded here -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function to capture images
            function captureImages() {
                $.ajax({
                    type: 'GET',
                    url: '/capture_images',
                    success: function (response) {
                        console.log(response);
                        alert(response.message);
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Error capturing images. Please try again.');
                    }
                });
            }

            // Check if the user is signed in
            $.ajax({
                type: 'GET',
                url: '/check_signin',
                success: function (response) {
                    console.log(response);
                    if (response.signed_in) {
                        // User is signed in, redirect to capture image page
                        window.location.href = '/capture_image';
                    } else {
                        // User is not signed in, redirect to sign up page
                        window.location.href = '/signup';
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert('Error checking sign in status. Please try again.');
                }
            });

            // Event listener for capture image button
            $(document).on('click', '#captureImageButton', function () {
                captureImages();
            });
        });
    </script>
</body>

</html>
